extends layout

block head
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

	script(type='text/javascript', src='/javascripts/controllers/ContactsController.js')

block content
	h1 My Contacts
	div.container(ng-controller="ContactsController", ng-init="setContacts( #{JSON.stringify(contacts)} )")
		table(id="contacts_table", class="table")
			thead
				th Name
				th Phone
				th Email
			tbody
					tr(ng-repeat="contact in contacts")
						td
							| {{ contact.name }}
						td
							| {{ contact.phone }}
						td
							| {{ contact.email }}
		form.form-horizontal(novalidate, ng-submit="addNewContact()")
			div.form-group
				label.sr-only(for="newContactNameInput") Name
				input(type="text", id="newContactNameInput", placeholder="Name", ng-model="newContact.name")
			div.form-group
				label.sr-only(for="newContactPhoneInput") Phone
				input(type="text", id="newContactPhoneInput", placeholder="Phone", ng-model="newContact.phone")
			div.form-group
				label.sr-only(for="newContactEmailInput") Phone
				input(type="text", id="newContactEmailInput", placeholder="Email", ng-model="newContact.email")		
			button.btn.btn-primary(type="submit") Add Contact
