extends layout

block head
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

	script(type='text/javascript', src='/javascripts/controllers/ContactsController.js')

block content
	h1 My Contacts
	div.container(ng-controller="ContactsController", ng-init="setContacts( #{JSON.stringify(contacts)} )")
		table(id="contacts_table", class="table")
			thead
				th Name
				th Phone
				th Email
			tbody
				tr(ng-repeat="contact in contacts")
					td
						| {{ contact.name }}
					td
						| {{ contact.phone }}
					td
						| {{ contact.email }}
				tr
					|<td><form class="form-inline" novalidate ng-submit="addNewContact()"><div class="form-group"><label class="sr-only" for="newContactNameInput">Name</label><input type="text" id="newContactNameInput" placeholder="Name" ng-model="newContact.name"></input></div></td>
					|<td><div class="form-group"><label class="sr-only" for="newContactPhoneInput">Phone</label><input type="text" id="newContactPhoneInput" placeholder="Phone" ng-model="newContact.name"></input></div></td>
					|<td><div class="form-group"><label class="sr-only" for="newContactEmailInput">Email</label><input type="text" id="newContactEmailInput" placeholder="Email" ng-model="newContact.name"></input>
					|<button class="btn btn-primary" type="submit"> Add Contact</button></div></td>
					|</form>
