doctype html
html(ng-app='contactsApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/app.js')

    block head

  body
    block content