doctype html
html.
   <head>
         <title>Mobile Bootstrap css test</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/stylesheets/style.css">
            <script type="text/javascript" src="/javascripts/vendor/angular/angular.js"></script>
         

         <script type="text/javascript" src="/javascripts/app.js"></script>
         <link rel="stylesheet" href="/javascripts/vendor/bootstrap/dist/css/bootstrap.css">
         <script type="text/javascript" src="/javascripts/controllers/FoodController.js"></script>
      </head>
      <body >
        <div class="col-xs-6" style="background-color: red">I’m on the left</div>
        <div class="col-xs-6" style="background-color: blue">I’m on the right</div>
      </body>